{% load static %}
<section id="header">
    <a href="{% url 'index' %}"><img src="{%static 'img/logo.png'%}" class="logo"></a>
    <div>
        <ul id="navbar">
            <li><a href="{% url 'index' %}" class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">Home</a></li>
            <li><a href="{% url 'shop' %}" class="{% if request.resolver_match.url_name == 'shop' %}active{% endif %}">Shop</a></li>
            <li><a href="{% url 'blog' %}" class="{% if request.resolver_match.url_name == 'blog' %}active{% endif %}">Blog</a></li>
            <li><a href="{% url 'about us' %}" class="{% if request.resolver_match.url_name == 'about us' %}active{% endif %}">About Us</a></li>
            <li><a href="{% url 'contact' %}" class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">Contact</a></li>
            <li id="bag-og"><a href="{% url 'cart' %}" class="{% if request.resolver_match.url_name == 'cart' %}active{% endif %}">
                <img class="bag-icon" src="{% static 'img/icons/shopping-bag.png' %}">
            </a></li>
            <img id="close" class="close-icon" src="{% static 'img/icons/x.png' %}">
        </ul>
    </div>
    
    
    <div id="mobile">
        <a href="cart.html"><img class="bag-icon" src="{% static "img/icons/shopping-bag.png" %}"></a>
        <img id="bar" class="menu-icon" src="{%static 'img/icons/bars.png'%}">
    </div>
</section>