{% extends "base.html" %}
{% load static %}

{% block content %}
<section>
    <div id="mobile">
        <a href="cart.html"><img class="bag-icon" src="img/icons/shopping-bag.png"></a>
        <img id="bar" class="menu-icon" src="img/icons/bars.png">
    </div>
</section>
<section id="page-header">
    <h2>#stayhome</h2>
    <p>Save more with coupons & up to 70% off!</p>
</section>
<section id="product1" class="section-p1">
    <div class="pro-container">
        <div class="pro" onclick="window.location.href='{% url 'products'%}';">
            <img class="producto" src="{%static 'img/products/f1.jpg'%}">
            <div class="des">
                <span>Addidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                </div>
                <h4>$78</h4>
            </div>
            <div class="cart-icon-container"><a href="#"><img class="cart-icon" src="{%static 'img/icons/cart.png'%}"></a></div>
        </div>
        <div class="pro">
            <img class="producto" src="{%static 'img/products/f2.jpg'%}">
            <div class="des">
                <span>Addidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                </div>
                <h4>$78</h4>
            </div>
            <div class="cart-icon-container"><a href="#"><img class="cart-icon" src="{%static 'img/icons/cart.png'%}"></a></div>
        </div>
        <div class="pro">
            <img class="producto" src="{%static 'img/products/f3.jpg'%}">
            <div class="des">
                <span>Addidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                </div>
                <h4>$78</h4>
            </div>
            <div class="cart-icon-container"><a href="#"><img class="cart-icon" src="{%static 'img/icons/cart.png'%}"></a></div>
        </div>
        <div class="pro">
            <img class="producto" src="{%static 'img/products/f4.jpg'%}">
            <div class="des">
                <span>Addidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                </div>
                <h4>$78</h4>
            </div>
            <div class="cart-icon-container"><a href="#"><img class="cart-icon" src="{%static 'img/icons/cart.png'%}"></a></div>
        </div>
        <div class="pro">
            <img class="producto" src="{%static 'img/products/f5.jpg'%}">
            <div class="des">
                <span>Addidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                </div>
                <h4>$78</h4>
            </div>
            <div class="cart-icon-container"><a href="#"><img class="cart-icon" src="{%static 'img/icons/cart.png'%}"></a></div>
        </div>
        <div class="pro">
            <img class="producto" src="{%static 'img/products/f6.jpg'%}">
            <div class="des">
                <span>Addidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                </div>
                <h4>$78</h4>
            </div>
            <div class="cart-icon-container"><a href="#"><img class="cart-icon" src="{%static 'img/icons/cart.png'%}"></a></div>
        </div>
        <div class="pro">
            <img class="producto" src="{%static 'img/products/f7.jpg'%}">
            <div class="des">
                <span>Addidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                </div>
                <h4>$78</h4>
            </div>
            <div class="cart-icon-container"><a href="#"><img class="cart-icon" src="{%static 'img/icons/cart.png'%}"></a></div>
        </div>
        <div class="pro">
            <img class="producto" src="{%static 'img/products/f8.jpg'%}">
            <div class="des">
                <span>Addidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                </div>
                <h4>$78</h4>
            </div>
            <div class="cart-icon-container"><a href="#"><img class="cart-icon" src="{%static 'img/icons/cart.png'%}"></a></div>
        </div>
        <div class="pro">
            <img class="producto" src="{%static 'img/products/n1.jpg'%}">
            <div class="des">
                <span>Addidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                </div>
                <h4>$78</h4>
            </div>
            <div class="cart-icon-container"><a href="#"><img class="cart-icon" src="{%static 'img/icons/cart.png'%}"></a></div>
        </div>
        <div class="pro">
            <img class="producto" src="{%static 'img/products/n2.jpg'%}">
            <div class="des">
                <span>Addidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                </div>
                <h4>$78</h4>
            </div>
            <div class="cart-icon-container"><a href="#"><img class="cart-icon" src="{%static 'img/icons/cart.png'%}"></a></div>
        </div>
        <div class="pro">
            <img class="producto" src="{%static 'img/products/n3.jpg'%}">
            <div class="des">
                <span>Addidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                </div>
                <h4>$78</h4>
            </div>
            <div class="cart-icon-container"><a href="#"><img class="cart-icon" src="{%static 'img/icons/cart.png'%}"></a></div>
        </div>
        <div class="pro">
            <img class="producto" src="{%static 'img/products/n4.jpg'%}">
            <div class="des">
                <span>Addidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                </div>
                <h4>$78</h4>
            </div>
            <div class="cart-icon-container"><a href="#"><img class="cart-icon" src="{%static 'img/icons/cart.png'%}"></a></div>
        </div>
        <div class="pro">
            <img class="producto" src="{%static 'img/products/n5.jpg'%}">
            <div class="des">
                <span>Addidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                </div>
                <h4>$78</h4>
            </div>
            <div class="cart-icon-container"><a href="#"><img class="cart-icon" src="{%static 'img/icons/cart.png'%}"></a></div>
        </div>
        <div class="pro">
            <img class="producto" src="{%static 'img/products/n6.jpg'%}">
            <div class="des">
                <span>Addidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                </div>
                <h4>$78</h4>
            </div>
            <div class="cart-icon-container"><a href="#"><img class="cart-icon" src="{%static 'img/icons/cart.png'%}"></a></div>
        </div>
        <div class="pro">
            <img class="producto" src="{%static 'img/products/n7.jpg'%}">
            <div class="des">
                <span>Addidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                </div>
                <h4>$78</h4>
            </div>
            <div class="cart-icon-container"><a href="#"><img class="cart-icon" src="{%static 'img/icons/cart.png'%}"></a></div>
        </div>
        <div class="pro">
            <img class="producto" src="{%static 'img/products/n8.jpg'%}">
            <div class="des">
                <span>Addidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                    <img class="star-icon" src="{%static 'img/icons/star.png'%}">
                </div>
                <h4>$78</h4>
            </div>
            <div class="cart-icon-container"><a href="#"><img class="cart-icon" src="{%static 'img/icons/cart.png'%}"></a></div>
        </div>
    </div>
</section>
<section id="pagination" class="section-p1">
    <a href="#">1</a>
    <a href="#">2</a>
    <img src="{%static 'img/icons/right-arrow.png'%}" class="arrow-icon">
</section>
<section id="newsletter" class="section-p1">
    <div class="newstext">
        <h4>Sign Up For Newsletter</h4>
        <p>Get E-mail updates about our latest shop and <span>special offers</span></p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your email address">
        <button class="normal">Sign Up</button>
    </div>
</section>
{% endblock %}