{% load static %}
<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beker06 Ecommerce</title>
<!--links from index-->
    <link rel="stylesheet" href="{%static 'styles/globals.css'%} ">
    <link rel="stylesheet" href="{%static 'styles/header.css'%} ">
    <link rel="stylesheet" href="{%static 'styles/hero.css'%} ">
    <link rel="stylesheet" href="{%static 'styles/features.css'%} ">
    <link rel="stylesheet" href="{%static 'styles/product.css'%} ">
    <link rel="stylesheet" href="{%static 'styles/banner.css'%} ">
    <link rel="stylesheet" href="{%static 'styles/sm-banner.css'%} ">
    <link rel="stylesheet" href="{%static 'styles/newsletter.css'%} ">
    <link rel="stylesheet" href="{%static 'styles/footer.css'%} ">
    <link rel="stylesheet" href="{%static 'styles/responsive.css'%} ">
    <!--links from shop.css-->
    <link rel="stylesheet" href="{% static "styles/Shop/page-header.css" %}">
    <link rel="stylesheet" href="{% static "styles/Shop/pagination.css" %}">
    <!--links from blog.css-->
    <title>Beker06 Ecommerce | Blog</title>
    <link rel="stylesheet" href="{% static 'styles/globals.css'%}">
    <link rel="stylesheet" href="{% static 'styles/header.css'%}">
    <link rel="stylesheet" href="{% static 'styles/hero.css'%}">
    <link rel="stylesheet" href="{% static 'styles/product.css'%}">
    <link rel="stylesheet" href="{% static 'styles/newsletter.css'%}">
    <link rel="stylesheet" href="{% static 'styles/footer.css'%}">
    <link rel="stylesheet" href="{% static 'styles/responsive.css'%}">
    <link rel="stylesheet" href="{% static 'styles/Shop/page-header.css'%}">
    <link rel="stylesheet" href="{% static 'styles/Shop/pagination.css'%}">
    <link rel="stylesheet" href="{% static 'styles/Blog/blog.css'%}">
    <!-- links from contact-->
    <link rel="stylesheet" href="{% static 'styles/globals.css'%}">
    <link rel="stylesheet" href="{% static 'styles/header.css'%}">
    <link rel="stylesheet" href="{% static 'styles/hero.css'%}">
    <link rel="stylesheet" href="{% static 'styles/newsletter.css'%}">
    <link rel="stylesheet" href="{% static 'styles/footer.css'%}">
    <link rel="stylesheet" href="{% static 'styles/Contact/contact.css'%}">
    <!--links from about us -->
    <link rel="stylesheet" href="{%static 'styles/globals.css'%}">
    <link rel="stylesheet" href="{%static 'styles/header.css'%}">
    <link rel="stylesheet" href="{%static 'styles/hero.css'%}">
    <link rel="stylesheet" href="{%static 'styles/product.css'%}">
    <link rel="stylesheet" href="{%static 'styles/newsletter.css'%}">
    <link rel="stylesheet" href="{%static 'styles/footer.css'%}">
    <link rel="stylesheet" href="{%static 'styles/responsive.css'%}">
    <link rel="stylesheet" href="{%static 'styles/About/about.css'%}">
    <link rel="stylesheet" href="{%static 'styles/features.css'%}">
    {% comment %} links from products {% endcomment %}
    <link rel="stylesheet" href="{%static 'styles/globals.css'%}">
    <link rel="stylesheet" href="{%static 'styles/header.css'%}">
    <link rel="stylesheet" href="{%static 'styles/newsletter.css'%}">
    <link rel="stylesheet" href="{%static 'styles/footer.css'%}">
    <link rel="stylesheet" href="{%static 'styles/responsive.css'%}">
    <link rel="stylesheet" href="{%static 'styles/sproducts.css'%}">
    <link rel="stylesheet" href="{%static 'styles/product.css'%}">

</head>
<body>
{% include "partials/_navbar.html" %}
{% block content %}

{% endblock %}
{% include "partials/_footer.html" %}

<script src="{%static 'script.js'%}"></script>
</body>
</html>
